@page
@using Microsoft.Extensions.Localization;
@model ExternalLoginModel
@inject IStringLocalizer<ExternalLoginModel> localizer
@{
    ViewData["Title"] = localizer["title"];
}

<h1>@ViewData["Title"]</h1>
<hr />

<p id="external-login-description" class="text-info">
    @localizer["success"] <strong>@Model.ProviderDisplayName</strong>.
    @localizer["enteremail"]
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control textfield" autocomplete="email"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer["register"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
